# Core modules (mandatory)
jupyterlite-core==0.6
jupyterlab==4.4.3
notebook==7.4.3

# Python kernel (technically optional)
jupyterlite-pyodide-kernel==0.6

# Python: libraries (optional)
pandas
numpy
ipywidgets
